@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kings&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-image: url("https://static.tvmaze.com/uploads/images/original_untouched/213/534017.jpg");
  background-size: cover;
  &__title {
    font-size: 8rem;
    font-family: "Kings", cursive;
    margin: 2rem 0;
  }
  &__details {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2rem;
      margin: .5rem 0;
  }
}
